*{  
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
 }

.container {
    margin-top: 5vh;
    justify-content: center;
    
}


.input{
    display: flex;   
    justify-content:space-around;       

}

label{
    font-size: 2.9vh;
    font-weight: bold;
}

.input1, .input2{
    height: 4vh;
    width: 13vw;
    font-size: 2.8vh;
    font-weight: bold;
    text-align: center;
}



 .cajas{
     
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-content:center;
     margin-left: 20%;
     margin-top: 3vh;
     
 }

 .cajas1,
 .cajas2,
 .cajas3,
 .cajas4 {
    
    justify-content:center;
    text-align: center;
    align-content:center;
    width: 20vw;
    height: 32vh;
    background-color: rgb(14, 13, 13);
 }



h3{
    color:#fff;
    -webkit-text-stroke: .5px rgb(175, 191, 236);
}

img{
    width: 9vw;
}


 button{
     margin-top: 1vh;
     color: #fff;
     font-weight: bold;
     font-size: 1rem;
     background-color: rgb(233, 58, 58);
     border-radius: .4rem;
     padding: .4%;
     cursor: pointer;
     justify-content: center;
 }